path.link {
    fill: none;
    stroke: #666;
    stroke-width: 1.5px;
}

circle {
    fill: #ccc;
    stroke: #fff;
    stroke-width: 1.5px;
}

text {
    fill: #000;
    font: 10px sans-serif;
    pointer-events: none;
}

@keyframes pulse {
    0% {
      stroke: #9b59b6;
      fill: #9b59b6;
      stroke-width: 2px;
    }
    50% {
      stroke: #fff;
      fill: #fff;
      stroke-width: 4px;
    }
    100% {
      stroke: #9b59b6;
      fill: #9b59b6;
      stroke-width: 2px;
    }
  }
  
  path.link.pulsate {
    animation: pulse 2s infinite;
  }
  